/*********************************************************
 ** Nom du fichier : style.css                          **
 ** Auteur : Grégory                                    **
 ** Date de création : 03/01/2018                       **
 ** Dernière mise à jour : 03/01/2018                   **
 ** Objectif : Permettre de lancer un compte à rebours  **
 *********************************************************/
body{
	text-align: center;
	width: 940px;
	margin: auto;
}

h1{
	font-size: 3em;
}

.objectif{
	padding-bottom: 10px;
}
.compteur{
	display: flex;
	justify-content: space-around;
	line-height: 2.5;
	padding-top: 15px;
	padding-bottom: 15px;
}

.minuteur{
	font-size: 2.5em;
	margin: auto;
	padding: 5px;
}

.form {
	display: flex;
	justify-content: center;
}

.horaire{
	border: 1px solid black;
	padding: 5px;
}
.horaire input{
	width: 110px;
}

.date{
	border: 1px solid black;
	padding: 5px;
}
.date input{
	width: 40px;
}

#id_annee{
	width: 50px;
}

.jours, .heures, .minutes, .secondes{
	color: #C30044;
	margin: auto;
	width: 100px;
	height: 100px;
	padding: 10px;
	border: 20px solid #C30044;
	border-radius: 50%;
}

.heures p{
	width: 150px;
	margin-left: -25px;
}

.minutes p{
	width: 170px;
	margin-left: -35px;
}

.secondes p{
	width: 200px;
	margin-left: -50px;
}