/*********************************************************
 ** Nom du fichier : style.css                          **
 ** Auteur : Grégory                                    **
 ** Date de création : 03/01/2018                       **
 ** Dernière mise à jour : 03/01/2018                   **
 ** Objectif : Permettre de lancer un compte à rebours  **
 *********************************************************/

 body{
 	font-size: 20px;
 }